html, body {
    margin: 0;
    padding: 0;
  }

canvas {
display: block;
}
 
 
#p5-canvas-container {
    position: fixed;
}

.main{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 100;

}

.fyi{
    background-color: rgb(21, 197, 209);
    position: relative;
    width: 400px;
    height: 400px;
    margin: 100px;
    padding: 100px;
    font-family: 'Courier New', Courier, monospace;


}

b{
    font-size: 50px;
    position:relative;
    text-align: center;
    bottom:20px;
    left: 50px;
}



.time{
    background-color: rgba(185, 176, 126, 0.864);
    width: 400px;
    height: 400px;
    margin: 100px;
    padding: 100px;
    padding-left: 200px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;

}

h5{
    font-size: 50px;
    position:relative;
    right: 15%;
    text-align: center;
    bottom:100px;
}

h1{
    font-size: 150px;
    position:relative;
    right: 15%;
    bottom: 200px;
    text-align: center;
}

h2{
    font-size: 100px;
    position:relative;
    right: 15%;
    bottom: 300px;
    text-align: center;
}

h4{
    position:relative;
    font-size: 16px;
    width: 500px;
    right: 50px;
    
}


h3{
    font-size: 15px;
    bottom: 300px;
    width:400px;
    
}
h6{
    font-size: 8px;
    position:relative;
    width: 400px;
}

h6:hover{
    font-size: 20px;
    background-color: bisque;
    width: 400px;

}

.clothes{
    background-color: rgba(215, 47, 103, 0.864);
    width: 400px;
    height: 400px;
    padding: 100px;
    margin: 100px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    
}
  


.people{
    background-color: rgba(48, 100, 184, 0.864);
    width: 400px;
    height: 400px;
    padding: 100px;
    margin: 100px;
    position: relative;
    
}

.sources{
    background-color: rgba(249, 149, 9, 0.864);
    width: 400px;
    height: 400px;
    padding: 100px;
    margin: 100px;
    position: relative;
    
}

.map{
    background-color: rgba(123, 200, 30, 0.864);
    width: 400px;
    height: 400px;
    padding: 100px;
    margin: 100px;
    position: relative;
    
}

.object{
    background-color: salmon;
    width: 400px;
    height: 400px;
    padding: 100px;
    margin: 100px;
    position: relative;
    
}




iframe{
    display: block;
    background-color: aqua;
    width:400px;
    height:400px;
    
}